## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
import random
sample_list_1 = []
while len(sample_list_1) < 80:
    n = random.randint(0, 100)
    if n not in sample_list_1:
        sample_list_1.append(n)
    else:
        continue
print(sample_list_1)

[60, 38, 43, 19, 18, 42, 49, 74, 21, 94, 66, 91, 15, 46, 55, 27, 35, 16, 87, 88, 57, 71, 31, 97, 8, 95, 68, 50, 45, 65, 34, 86, 0, 93, 70, 30, 6, 10, 48, 53, 75, 25, 67, 5, 24, 9, 89, 90, 84, 3, 1, 44, 62, 79, 22, 13, 17, 80, 20, 78, 14, 58, 96, 26, 39, 4, 23, 40, 32, 99, 41, 100, 56, 85, 2, 61, 72, 98, 81, 63]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
import random
sample_list_2 = []
while len(sample_list_2) < 80:
    n = random.randint(0, 100)
    sample_list_2.append(n)

print(sample_list_2)
print(len(sample_list_2))

[76, 28, 49, 79, 32, 73, 48, 67, 97, 37, 96, 50, 62, 79, 56, 12, 97, 54, 73, 66, 92, 70, 100, 82, 69, 1, 81, 44, 73, 59, 82, 45, 55, 27, 33, 9, 34, 23, 40, 46, 10, 1, 4, 5, 80, 71, 20, 43, 20, 15, 58, 13, 8, 1, 86, 31, 22, 7, 34, 56, 3, 5, 21, 38, 7, 62, 5, 57, 78, 71, 71, 26, 62, 97, 20, 53, 63, 94, 91, 98]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{1, 3, 4, 5, 7, 8, 9, 10, 12, 13, 15, 20, 21, 22, 23, 26, 27, 28, 31, 32, 33, 34, 37, 38, 40, 43, 44, 45, 46, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 62, 63, 66, 67, 69, 70, 71, 73, 76, 78, 79, 80, 81, 82, 86, 91, 92, 94, 96, 97, 98, 100}
61

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [48]:
# Your code here
set3 = set1.difference(set2)
#print(set1)
#print(set2)
print(set3)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 53, 55, 56, 57, 58, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 74, 75, 78, 79, 80, 81, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 2, 6, 14, 16, 17, 18, 19, 24, 25, 30, 35, 39, 41, 42, 60, 61, 65, 68, 72, 74, 75, 84, 85, 87, 88, 89, 90, 93, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [13]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{33, 37, 69, 7, 73, 12, 76, 92, 82, 54, 59, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{1, 3, 4, 5, 8, 9, 10, 13, 15, 20, 21, 22, 23, 26, 27, 31, 32, 34, 38, 40, 43, 44, 45, 46, 48, 49, 50, 53, 55, 56, 57, 58, 62, 63, 66, 67, 70, 71, 78, 79, 80, 81, 86, 91, 94, 96, 97, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [18]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
61
31
12
49

In [39]:
print(len(set1) - len(set5))    #len(set(3))
print(len(set2) - len(set5))    #len(set(4))

31
12
19

#### Create an empty set called `set6`.

In [20]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [40]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [41]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [50]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [52]:
# Your code here
print(set3.union(set4, set5))
print(set1.union(set2))
print(set3.union(set4, set5) == set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
True

#### Using the `pop` method, remove the first element from `set1`.

In [34]:
# Your code here
'''Using 'pop' method you only can remove some random element from the set'''

'Using pop method you only can remove some random element'

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [66]:
# Your code here
list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])
print(set1)
removed = []
for i in list_to_remove:
    #print(i)
    if i in set1:
        print(i)
        removed.append(i)
        set1.remove(i)
print(removed)
'''What is the possibility that my set1 don't have any element from list_to_remove???'''

{0, 2, 3, 4, 5, 6, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 34, 35, 38, 40, 42, 43, 44, 45, 46, 48, 50, 53, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 74, 75, 78, 80, 84, 85, 86, 87, 88, 90, 93, 94, 95, 96, 97, 98, 100}
[]

"What is the possibility that my set1 don't have any element from list_to_remove???"